# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

NEXT_PUBLIC_SITE_URL=webapp_url

NODEMAILER_HOST=smtp.example.com      # Replace with your SMTP host
NODEMAILER_PORT=587                   # Or 465 if you're using SSL
NODEMAILER_SECURE=false               # Use true for SSL, false for TLS
NODEMAILER_USER=your-email@example.com # Your email address
NODEMAILER_PASS=your-email-password    # Your email password or app-specific password

EMAIL_FROM=your-email@example.com   # you can use 2 different personal emails to handle to and from
EMAIL_TO=admin@example.com